*{
    font-family:sans-serif;
}

.heading {
    text-align: center;
    font-size: 30px;
}
.gray{
    color: gray;
}
.red{
    color: red;
}
.orange{
    color:orangered;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    width: 250px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 39px 2px rgba(0,0,0,0.25);
    margin-top: 10px;
}
.son-item{
    padding: 15px;
}
.top-buttom{
    display: flex;
    justify-content: space-between;
}
.left > .purple{
    margin: -5px;
}
.text{
    text-align: center;
}
.rate{
    display: flex;
}
.star{
    color: gold;
    margin-right: 10px;
}
img{
    width: 100%;
}
small{
    padding: 5px;
    border-radius: 5px;
}
.purple{
    background-color:rgba(236, 195, 236, 0.348);
    color: rgb(166, 71, 207);
}
.green{
    background-color: rgba(170, 243, 219, 0.396);
    color:rgb(16, 152, 16);
}
.right-red{
    color: red;
}
p{
    font-size: 14px;
}